" ================================================================================================
" = Extensions =====================================
" ================================================================================================
Plug 'tpope/vim-surround'
Plug 'preservim/nerdtree'

Plug 'terryma/vim-multiple-cursors'
" map <D-b> <A-n>
" map mx <A-x>
" map mv <A-p>

" ================================================================================================
" = Basic settings =====================================
" ================================================================================================
set clipboard+=unnamed
set scrolloff=30
set history=200

set noerrorbellsset
set visualbell

setlocal noswapfile

set number
set relativenumber

set incsearch
set hlsearch
set keep-english-in-normal

" ================================================================================================
" = No Leader Keymaps =====================================
" ================================================================================================
nmap ]g <action>(GotoNextError)
nmap [g <action>(GotoPreviousError)
nmap gt <action>(GotoTest)
nmap gu <action>(MethodUp)
nmap gd <action>(GotoImplementation)
nmap gy <action>(GotoTypeDeclaration)

" bookmark
" nmap mm <action>(ToggleBookmark)
" nmap ma mA
" nmap 'a 'A

nmap <C-l> <action>(NextTab)
nmap <C-h> <action>(PreviousTab)

nmap <C-f> <action>(ReformatCode) \| <action>(OptimizeImports)

nmap <Esc>u :nohlsearch<CR>


" ================================================================================================
" = Leader Keymaps =====================================
" ================================================================================================
" leaderkey
let mapleader=" "

" ================================================================================================
" 👻👻👻 Which-Key 👻👻👻
" ================================================================================================
set which-key
set notimeout

" d: diff

" f: Find/Format ⭐️
let g:WhichKeyDesc_Find = "<leader>f Find"

let g:WhichKeyDesc_Find_FindFile = "<leader>ff FindFile"
nmap <leader>ff <action>(GotoFile)

let g:WhichKeyDesc_Find_FindFile = "<leader>fd Diff"
nmap <leader>fd <action>(Vcs.ShowTabbedFileHistory)

let g:WhichKeyDesc_Find_FindFileLocation = "<leader>fl FindFileLocation"
nmap <leader>fl <action>(SelectInProjectView)

let g:WhichKeyDesc_Find_FindText = "<leader>ft FindText"
nmap <leader>ft <action>(FindInPath)

let g:WhichKeyDesc_Find_Action = "<leader>fa Action"
nmap <leader>fa <action>(GotoAction)

let g:WhichKeyDesc_Find_OpenedProject = "<leader>fp OpenedProject"
nmap <leader>fp <action>(OpenProjectWindows)

let g:WhichKeyDesc_Show_FileStructure = "<leader>fs ShowFileStructure"
nmap <leader>fs <action>(FileStructurePopup)

let g:WhichKeyDesc_Show_Bookmarks = "<leader>fb ShowBookmarks"
nmap <leader>fb <action>(ShowBookmarks)

let g:WhichKeyDesc_Show_ParameterInfo = "<leader>fi ShowParameterInfo"
nmap <leader>fi <action>(ParameterInfo)

" g: Git ⭐️
let g:WhichKeyDesc_Git = "<leader>g Git"
let g:WhichKeyDesc_Git_RollbackHunk = "<leader>gr RollbackHunk"
nmap <leader>gr :action Vcs.RollbackChangedLines<CR>


" r: Re ⭐️
let g:WhichKeyDesc_Rename = "<leader>rn Rename"
nmap <leader>rn <action>(RenameElement)


" w: Window ⭐️
let g:WhichKeyDesc_Windows = "<leader>w Windows"
let g:WhichKeyDesc_Windows_maximize = "<leader>wo maximize"
nmap <leader>wo <action>(UnsplitAll) \| <action>(HideAllWindows)
let g:WhichKeyDesc_Windows_splitWindowVertically = "<leader>wl splitWindowVertically"
nmap <leader>wl <action>(Macro.SplitVertically)
let g:WhichKeyDesc_Windows_closeActiveWindow = "<leader>wc closeActiveWindow"
nmap <leader>wc <c-w>c

" z: zip(fold) ⭐️
let g:WhichKeyDesc_Zip = "<leader>z Zip"
let g:WhichKeyDesc_Zip_unZipAll = "<leader>zo unZipAll"
nmap <leader>zo <action>(ExpandAllRegions)
let g:WhichKeyDesc_Zip_ZipAll = "<leader>zc ZipAll"
nmap <leader>zc <action>(CollapseAllRegions)

" q: Close ⭐️;
let g:WhichKeyDesc_CloseBuffer = "<leader>q CloseBuffer"
nmap <leader>q :q!<CR>

" m: Toggle Explorer ⭐️
let g:WhichKeyDesc_ToggleExplorerOrExtract = "<leader>mt ToggleExplorer"
nmap <leader>mt <action>(ActivateProjectToolWindow)

" e: Extract
let g:WhichKeyDesc_Extract = "<leader>e Extract"
" extract method/function
let g:WhichKeyDesc_ExtractMethod = "<leader>em ExtractMethod"
vmap <leader>em <action>(ExtractMethod)
" extract constant
let g:WhichKeyDesc_ExtractConstant = "<leader>ec ExtractConstant"
vmap <leader>ec <action>(IntroduceConstant)
" extract field
let g:WhichKeyDesc_ExtractField = "<leader>ef ExtractField"
vmap <leader>ef <action>(IntroduceField)
" extract variable
let g:WhichKeyDesc_ExtractVariable = "<leader>ev ExtractVariable"
vmap <leader>ev <action>(IntroduceVariable)

" g: generate
let g:WhichKeyDesc_Generate = "<leader>g Generate"
" generate constructor
let g:WhichKeyDesc_Generate_Constructor = "<leader>gc Constructor"
nmap <leader>gc <action>(Constructor)


